@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --text: #121235;
  --background: #ffffff;
  --background-alt: #e2e2e2;
  --primary: #455dff;
  --secondary: #2b49ea;
  --accent: #fdfded;
}

* {
  font-family: "Roboto";
  margin: 0;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}
