---
import Hero from "../components/Hero.astro";
import LogoShowcase from "../components/LogoShowcase.astro";
import Section from "../components/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Chassis Autonomy - About">
  <Hero title="Unlocking the full potential of autonomy through fail-operational actuation" image="/website-current/images/about/hero.png" image_alt="Hero Image"/>
<div class="section">
  <Section>
    <div class="section-content">
      <h2 class="section-title">Our partners</h2>
        <div class="list">
          <LogoShowcase image="/website-current/images/about/cae-value-logo.png" image_alt="CAE Logo" url="https://www.caevalue.com/"/>
          <LogoShowcase image="/website-current/images/about/vi-grade-logo.png" image_alt="VI Grade" url="https://www.vi-grade.com/"/>
          <LogoShowcase image="/website-current/images/about/kongsberg-logo.png" image_alt="Kongsberg Logo" url="https://www.kongsbergautomotive.com/"/>
          <LogoShowcase image="/website-current/images/about/surrey-logo.png" image_alt="University of Surrey Logo" url="https://www.surrey.ac.uk/"/>
        </div>
    </div>
  </Section>
</div>
<div class="section">
  <Section>
    <div class="section-content">
      <h2 class="section-title">Supported by</h2>
        <div class="list">
          <LogoShowcase image="/website-current/images/about/Innovate-UK-Logo.jpeg" image_alt="Innovate UK Logo" url="https://www.ukri.org/councils/innovate-uk/"/>
          <LogoShowcase image="/website-current/images/about/EU-Logo.png" image_alt="European Union Logo" url="https://eic.ec.europa.eu/eic-funding-opportunities/eic-accelerator_en"/>
        </div>
    </div>
  </Section>
  </div>

  <style>
  .section {
    min-height: 40vh;
    padding-bottom: 3vh;
  }

  .list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  @media screen and (max-width: 1000px) {
    .list {
      margin-top: 2vh;
      flex-flow: column;
      gap: 3vh;
    }
  }

  </style>
</MainLayout>
