---
import Card from "../components/Card.astro";
import LogoShowcase from "../components/LogoShowcase.astro";
import PersonShowcase from "../components/PersonShowcase.astro";
import Section from "../components/Section.astro";
import Separator from "../components/Separator.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Swiper from "../components/Swiper.astro";

import milestones from "../content/details/milestones.json";
---

<MainLayout title="Chassis Autonomy - About">
  <div class="title-section">
    <Section>
      <h1 class="title">About us</h1>
      <Separator/>
    </Section>
  </div>
  <div class="section">
    <Section>
      <div class="section-content">
        <h2 class="section-title">Meet our founders</h2>
        <div class="list">
          <PersonShowcase image="/website-current/images/about/Peter.png" image_alt="Peter Johansson" name="Peter Johansson" titles={["Co-founder" , "CEO"]} description="A serial innovator and visionary with a career history that includes senior and director leadership roles within global automotive companies including SAAB, GM, NEVS and Haldex. Peter now leads Chassis Autonomy as Chief Executive Officer, working closely with the senior leadership team in a push towards autonomous mobility." url="https://www.linkedin.com/in/peter-johansson-/"/>
          <PersonShowcase image="/website-current/images/about/ThomasLi.jpg" image_alt="Thomas Li" name="Thomas Li" titles={["Co-founder" , "CTO"]} description="A former senior F1 Race Engineer, who is highly experienced in the leadership of engineering teams and the development of advanced automotive engineering systems. Thomas leads Chassis Autonomy as Chief Technology Officer ensuring the correct focus between product development and wider business growth activities." url="https://www.linkedin.com/in/thomas-li--/"/>
        </div>
      </div>
    </Section>
  </div>
  <div class="section">
    <Section>
      <div class="section-content">
        <h2 class="section-title">How we got here</h2>
        <Swiper>
          {milestones.map((milestone) => <Card {...milestone} />)}
        </Swiper>
      </div>
    </Section>
  </div>
  <div class="section">
  <Section>
    <div class="section-content">
      <h2 class="section-title">Our partners</h2>
        <div class="list">
          <LogoShowcase image="/website-current/images/about/cae-value-logo.png" image_alt="CAE Logo" url="https://www.caevalue.com/" text="CAE Value"/>
          <LogoShowcase image="/website-current/images/about/vi-grade-logo.png" image_alt="VI Grade" url="https://www.vi-grade.com/" text="Vi-grade"/>
          <LogoShowcase image="/website-current/images/about/kongsberg-logo.png" image_alt="Kongsberg Logo" url="https://www.kongsbergautomotive.com/" text= "Kongsberg Automotive"/>
          <LogoShowcase image="/website-current/images/about/surrey-logo.png" image_alt="University of Surrey Logo" url="https://www.surrey.ac.uk/" text="University of Surrey"/>
        </div>
    </div>
  </Section>
</div>
<div class="section">
  <Section>
    <div class="section-content">
      <h2 class="section-title">Supported by</h2>
        <div class="list">
          <LogoShowcase image="/website-current/images/about/Innovate-UK-Logo.jpeg" image_alt="Innovate UK Logo" url="https://www.ukri.org/councils/innovate-uk/" text="Innovate UK"/>
          <LogoShowcase image="/website-current/images/about/EU-Logo.png" image_alt="European Union Logo" url="https://eic.ec.europa.eu/eic-funding-opportunities/eic-accelerator_en" text="EIC Accelerator"/>
        </div>
    </div>
  </Section>
  </div>

  <style>
  .section {
    min-height: 40vh;
    padding-bottom: 3vh;
  }

  .title-section {
    margin-bottom: 5vh;
  }

  .list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vw;
    overflow: hidden;
  }

  .section-title {
    margin-bottom: 5vh;
  }

  @media screen and (max-width: 1000px) {

    .list {
      margin-top: 2vh;
      flex-flow: column;
      gap: 3vh;
    }
  }

  </style>
</MainLayout>
