---
import {Icon} from 'astro-icon/components';

import Section from "../components/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="Chassis Autonomy - Contact">
  <div class="section">
    <Section>
      <div class="section-content">
        <div class="section-left">
          <h2 class="section-title">Contact us</h2>
          <div class="locations">
            <div class="location">
              <h3 class="title">Trollhättan</h3>
              <p class="address">Chassis Autonomy SBA AB Gunnar W Anderssons Passage 32, 461 53 Trollhättan, Sweden</p>
            </div>
            <div class="location">
              <h3 class="title">London</h3>
              <p class="address">Chassis Autonomy Limited London, United Kingdom</p>
            </div>
          </div>
        </div>
        <div class="section-right">
          <form class="form" id="contact-form">
            <div class="form-content">
              <div class="form-header">
                <h4 class="form-title">Contact form</h4>
                <p class="info">* Required</p>
              </div>
              <div class="form-item">
                <label for="name" class="form-label">Name *</label>
                <input class="input" type="text" name="name" placeholder="John Doe">
              </div>
              <div class="form-item">
                <label for="email" class="form-label">Email *</label>
                <input class="input" type="email" name="email" placeholder="yourname@email.com">
              </div>
              <div class="form-item">
                <label for="phone" class="form-label">Phone Number </label>
                <input class="input" type="tel" name="phone" placeholder="07999999999">
              </div>
              <div class="form-item">
                <label for="message" class="form-label">Message *</label>
                <textarea class="input" name="message" placeholder="Your message here" rows="4"/>
              </div>
              <button type="submit" class="submit" for="contact-form">Submit <Icon name="akar-icons:paper-airplane" /></button>
            </div>
          </form>
      </div>
    </Section>
  </div>

  <style>
  .section {
    margin-top: 75px;
    height: calc(100vh - 75px);
  }

  .section-content {
    display: flex;
    align-items: center;
    height: calc(100vh - 75px);
  }

  .section-left {
    height: calc(100vh - 75px);
    display: flex;
    flex-flow: column;
    gap: 3vh;
    justify-content: center;
    width: 40%
  }

  .locations {
    display: flex;
    justify-content: space-between;
  }
  
  .location {
    width: 300px;
  }

  .title {
    margin-bottom: 2vh;
  }

  .section-right { 
    width: 100%;
    min-height: 500px;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    min-width: 500px;
    width: 60%;
    min-height: 60%;
    background-color: var(--background-alt);
    border-radius: 10px;
  }

  .form-content {
    padding: 20px;
    
  }

  .form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
  }

  .form-item {
    display: flex;
    flex-flow: column;
    margin-bottom: 1.5vh;
  }

  .input {
    border: 1px solid rgba(30, 30, 30, 0.5);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--background-alt);
  }

  .submit {
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--primary);
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    gap: 0.5vw;

  }
  
  .submit:hover {
    color: var(--background);
    background-color: var(--primary);
  } 

  @media screen and (max-width: 1000px){
    .section-content {
      flex-flow: column;
    }

    .section-left {
      width: 100%;
      align-items: center;
    }

    .locations {
      flex-flow: column;
      gap: 3vh;
    }

    .section-right {
      width: 100%;
    }

    .form {
      min-width: 5px;
      width: 100%;
    }
  }

  </style>
</MainLayout>
