---
import Section from "../components/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";


---
  
<MainLayout title="Chassis Autonomy - FAQ">
  <Section>
    <h1 class="title">Frequently asked question</h1>
  </Section>
<Section>
  <p>test</p>
  <p>test</p>
  <p>test</p>
</Section>
</MainLayout>
