---
import { Icon } from "astro-icon/components";
import Hero from "../components/Hero.astro";
import ListItemWithImage from "../components/ListItemWithImage.astro";
import Section from "../components/Section.astro";
import ShowcaseSection from "../components/ShowcaseSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Separator from "../components/Separator.astro";
---

<MainLayout title="Chassis Autonomy - Home">
  <Hero title="Unlocking the full potential of autonomy through fail-operational actuation" subtitle="" image="/website-current/images/home/hero.png"/>
  <Section>
    <div class="section">
      <h1 class="section-title">Uncompromised by legacy</h1>
      <ListItemWithImage title="Ensuring safety" text="By adding a system for redundant actuation in the case of a vehicle fault, we are bringing aircraft levels of safety down to the ground." image="/website-current/images/home/item-display.png"/>
      <ListItemWithImage title="Leveraging the full potential of autonomy" text="The deployment of a steer by-wire system will see benefits in space, design freedom, customisation, tuning, and general accessibility." image="/website-current/images/home/item-display.png" right/>
      <ListItemWithImage title="Securing the future of autonomous mobility" text="The industry and the ecosystem are close to the point at which a new era of mobility can be realised. It is this potential that drives our work." image="/website-current/images/home/item-display.png"/>
    </div>
  </Section>

  <ShowcaseSection text="Ground breaking innovation, paving the way for the future of autonomous mobility - and making sure it is safe and sustainable." image="/website-current/images/home/actuator.png">
    <h1 class="section-title">Steer-By-Wire</h1>

    <a href="/product" class="section-cta">Press here to learn more</a>
  </ShowcaseSection>

  <Section>
    <div class="section">
      <h1 class="section-title">Applications</h1>
      <div class="display app">
        <div class="titles">
          <Separator/>
          <h3 class="app-title selected-title">Highly automated <Icon name="mdi:arrow-right" class="app-icon"/></h3>
          <Separator/>
          <h3 class="app-title">Autonomous shuttles <Icon name="mdi:arrow-right" class="app-icon"/></h3>
          <Separator/>
          <h3 class="app-title">Off-highway <Icon name="mdi:arrow-right" class="app-icon"/></h3>
          <Separator/>
        </div>
        <div class="contents">
          <div class="app-content selected">
            <img src="/website-current/images/home/hero.png" alt="Image" class="content-image">
            <p class="content-text"><span>Assuring steering functionality and availability, even in the event of a system fault</span></p>
          </div>
          <div class="app-content">
            <img src="/website-current/images/home/actuator.png" alt="Image" class="content-image">
            <p class="content-text"><span>Ensuring the safety of passengers and other road users, with true fail-operational actuation up to 1 000 000 km</span></p>
          </div>
          <div class="app-content">
            <img src="/website-current/images/home/item-display.png" alt="Image" class="content-image">
            <p class="content-text"><span>Where reliability and availability is critical in ensuring the uninterrupted flow of global logistics</span></p>
          </div>
        </div>
      </div>
    </div>
  </Section>

  <style>
  .section {
    padding-top: 3vh;
    margin-bottom: 3vh;
    min-height: 500px;
  }

  .section-title {
    font-size: 3em;
    margin-top: 0;
  }

  .section-cta {
    font-size: 1.5em;
    f
    ont-weight: bold;
    text-decoration: none;
    border: 3px solid var(--background);
    padding: 0.5em;
    border-radius: 0.5em;
    color: var(--background);
    transition: all 0.3s ease-in-out;
  }
  
  .section-cta:hover {
    background-color: var(--background);
    color: var(--primary);
  }

  .display { 
    display: flex;
  }

  .titles {
    width: 30vw;
    display: flex;
    flex-flow: column;

  }

  .app-title {
    font-size: 2em;
    padding-left: 1vw;
    padding-block: 1.5vh;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .app-title:last-child() {
    /* border-bottom: 1px solid var(--text); */
  }
  
  .app-icon {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .app-title:hover,
  .selected-title {
    background-color: var(--background-alt);
    /* border-bottom: 2px solid var(--background-alt); */
  }

  .app {
  }

  .contents {
    height: 500px;
    width: 60vw;
  }

  .app-content {
    position: absolute;
    width: 60vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .content-image {
    height: 500px;
    width: 60vw;
    object-fit: cover;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  .content-text {
    font-size: 1em;
    height: 500px;
    width: 60vw;
    position: absolute;
    z-index: 10;
    background-color: rgba(18, 18, 53, 0.5);
    text-align: center;
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  .selected {
    opacity: 1;
  }

  </style>

  <script>
    const titles = document.querySelectorAll('.app-title');    
    const icons = document.querySelectorAll('.app-icon');
    const contents = document.querySelectorAll('.app-content');

    console.log(titles.length, icons.length, contents.length);

    titles.forEach((title, index) => {
      title.addEventListener('click', () => {
        contents[index].classList.add('selected');
        title.classList.add('selected-title');
        // icons[index].classList.add('selected');

        titles.forEach((_title, _index) => {
          if(index === _index) return;

          _title.classList.remove('selected-title');
          contents[_index].classList.remove('selected');
          // icons[_index].classList.remove('selected');
        })
      });
    })

  </script>

</MainLayout>


