---
import Section from "../components/Section.astro";
import Specifications from "../components/Specifications.astro";
import MainLayout from "../layouts/MainLayout.astro";
import specs from '../content/details/cs1-specs.json';
---

<MainLayout title="Chassis Autonomy - Product">
  <Section>
    <h1 class="title">Steer-by-wire</h1>
  </Section>
  <div class="section">
    <Section>
      <div class="section-content">
        <h2 class="section-title">CS1 System Specifications</h2>
        <Specifications image="/website-current/images/product/hero.png" specs={specs}/>
      </div>
    </Section>
  </div> 
</MainLayout>

