---
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Specifications from "../components/Specifications.astro";
import MainLayout from "../layouts/MainLayout.astro";
import type { Spec } from "../types/Spec";

const specs: Spec[] = [
  {title: "Voltage", info: "12V, 24V and 48V"},
  {title: "UN ECE vehicle categories", info: "M1, M2, N1, N2 (up to 5000 kg GVM)"},
  {title: "Force capacity", info: "22.5 kN"},
  {title: "Designed for", info: "SAE J3016 Level 4 and 5 applications"},
  {title: "Designed to exceed", info: "ASIL-D ISO 26262 Road vehicles - Functional safety"},
{title: "Meets", info: "ISO 21434 Road vehicles - Cybersecurity engineering<br/> UNECE R155 Cyber security and cyber security management system<br/> UNECE R156 Software update and software update management system<br/> ASPICE L3"}
]
---

<MainLayout title="Chassis Autonomy - Product">
  <Hero title="Unlocking the full potential of autonomy through fail-operational actuation" image="/website-current/images/product/hero.png" image_alt="Hero Image"/>
  <div class="section">
    <Section>
      <div class="section-content">
        <h2 class="section-title">CS1 System Specifications</h2>
        <Specifications image="/website-current/images/product/hero.png" name="CS1 System Specifications" specs={specs}/>
      </div>
    </Section>
  </div> 
</MainLayout>

