---
interface Props {
  image: string;
  image_alt: string;
  title: string;
  subtitle?: string;
}

const { image, image_alt, title, subtitle } = Astro.props;
---

<div class="hero">
  <img src={image} alt={image_alt} class="hero-img" />
  <div class="hero-mask"></div>
  <div class="hero-content">
    <h1 class="title">{title}</h1>

    {subtitle && <h3 class="subtitle">{subtitle}</h3>}
  </div>
</div>

<style>
  .hero {
    position: relative;
    min-height: 90vh;
    width: 100%;
    overflow: hidden;
  }

  .hero-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
  }

  .hero-mask {
    top: 0;
    position: absolute;
    min-height: 100%;
    height: max-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 5;
  }

  .hero-content {
    z-index: 10;
    position: relative;
    width: calc(100% - 10vw);
    min-height: 90vh;
    height: max-content;
    display: flex;
    flex-flow: column;
    justify-content: end;
    color: var(--background);
    padding-block: 3vh;
    padding-inline: 5vw;
    text-align: left;
  }
</style>
