---
import Section from './Section.astro';

interface Props {
title: string;
text: string;
image: string;
right?: boolean;
background_alt?: boolean;
}

const {title, text, image, right, background_alt} = Astro.props;
---

<div class={`section ${!background_alt ? 'bkg-primary' : 'bkg-alt'} `}>
  <Section>
    <div class=`container ${right ? 'right' : 'left'}`>
      <img src={image} alt="Image" class="image">
      <div class="content">
        <h3 class="title">{title}</h3>
        <p class="text">{text}</p>
      </div>
    </div>
  </Section>
</div>

<style>
.bkg-primary {
  background-color: var(--background);
}

.bkg-alt {
  background-color: var(--background-alt);
}

.container {
  display: flex;
  height: 250px;
  padding-inline: 5vw;
  /* padding-block: 5vh; */
  gap: 2.5em;
}

.right {
  flex-flow: row-reverse;
  text-align: right;
}

.left {
  flex-flow: row;
}

.image {
  height: 100%;
  margin-block: auto;
  object-fit: cover;
}

.content {
  display: flex;
  flex-flow: column;
  gap: 0.3em;
  margin-top: 1em;
}

.title {
  font-size: 1.7em;
}

.text {
  font-size: 1.5em;
}

@media screen and (max-width: 1150px) {
  .container {
    flex-flow: column;
    height: 50vh;
    gap: 0;
    width: 50%;
    margin-inline: auto;
  }
  
  .content {
    margin-top: 0;
  }

  .image { 
    height: 25vh;
    margin-bottom: 2vh;
  }
}

</style>

