---
interface Props {
  image: string;
  image_alt: string;
  url: string;
}

const {image, image_alt, url} = Astro.props;
---

<a href={url} class="link" target="_blank">
  <img src={image} alt={image_alt} class="image" >
</a>

<style>

.image {
  width: 300px;

  filter: grayscale(100%); 
  transition: all 0.3s ease-in-out;
}

.image:hover {
  filter: grayscale(0);
}

</style>
