---
import Section from './Section.astro';

interface Props {
text: string;
image: string;
}

const {text, image} = Astro.props;
---

<div class="section">
  <Section>  
  <div class="content">
    <div class="left">
        <div class="extra">
          <slot/>
        </div>
        <p class="text">{text}</p>
    </div>
    <img src={image} alt="Image" class="image">
    </div>
  </Section>
</div>


<style>
.section {
  min-height: 60vh;
  background-color: var(--secondary);
  color: var(--background);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.image {
  object-fit: cover;
  grid-column: 2;
  align-self: center;
  height: 100%;
  width: 100%;
}

.left {
  grid-column: 1;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: inherit;
  align-items: center;
}

.extra {
  grid-column: 1;
  grid-row: 1;
  padding-inline: 2vw;
}

.text {
  grid-row: 2;
  padding-inline: 2vw;
  text-align: left;
  margin-top: auto;
  padding-bottom: 2em;
  font-size: 1.5em;
}

@media screen and (max-width: 1150px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .image {
    grid-column: 1;
    grid-row: 1;
  }
  
  .left {
    grid-row: 2;
    align-items: start;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .text {
    margin-top: 5vh;
  }
}
</style>
